<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    link(rel="stylesheet", href="next.css")
       
</head>
<body>
    <div class="con">
        <h1>Certificate</h1>
        <h1>Congratulation #{firstName} #{lName}</h1>
        <p>The extraordinary Certificate Of Participation In Workshop Templates Pertaining To Workshop Certificate Template photograph below, is section of Unique Worksh.</p>
        <h2>Our warm wishes to uid #{uid}, You have been a great #{gender} contestant. </h2>

    </div>
    
</body>
</html>