<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
       
</head>
<body>
    <div class="con">
        <h1>Certificate</h1>
        <h1>Congratulation #{firstName} #{lName}</h1>
        <p>The extraordinary Certificate Of Participation In Workshop Templates Pertaining To Workshop Certificate Template photograph below, is section of Unique Worksh</p>
        <h2>warm wishes to #{uid},u have been great #{gender} constestant </h2>

    </div>
    
</body>
</html>